* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.container{

   background: linear-gradient(rgb(125, 128, 127), rgb(62, 171, 165));
   min-height:100vh;
   overflow: auto;
  background-attachment: fixed;
}
ul {
  height: 31px;
  width: 245px;
  background-color: rgb(191, 191, 191);
  margin: auto;
  display:block;
  transform: translatey(400px);
  list-style-type: none;
}

li {
  float: left;
  padding-top: 7px;
}

li a {
  text-decoration: none;
  color: black;
  padding: 7px 10px;
  transition: background-color 1s;
}
li span {
  position: relative;
  bottom: 7px;
  padding: 3px 0px;
  transition: background-color 1s;
}
li a:hover {
  background-color: rgb(233, 233, 234);
}
li span:hover {
  background-color: rgb(233, 233, 234);
}
#two {
  background-color: rgb(28, 144, 252);
  color: white;


}
