body{
    background-color: lightgray;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
i{

    
     padding: 10px 8px; 
     border-right: 1px solid black;
     color: rgb(119, 239, 255);
   
}

p{
    padding-top: 20px;
    padding-left: 15px;
    color: white;
    display: inline-block;
    font-size: 15px;
}

.box{
    margin-top: 5px;
    margin-left: 20px;
  
    height: 50px;
    width: 150px;
    background-color: rgb(91, 91, 94);
}



.box:hover{
    background-color: rgb(14, 215, 233);
   
}
 .box:hover p{
    color: rgb(72, 67, 67);
 }
.box:hover i{
    color: rgb(6, 6, 6);
}


.box:active{
    background-color: rgb(22, 39, 234);
   
}
 .box:active p{
    color: rgb(242, 237, 237);
 }
.box:active i{
    color: rgb(242, 235, 235);
}

.container{

    margin-top: 30px;
}
