*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../imge/25563.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
 -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

}

.box{
  
    text-align: center;
    color: white;
   margin-top: 50px;
    }

h1{
    padding: 20px;
    font-size: 45px;
}

p{
    padding: 50px;
}

a{
    width: 100px;
    height: 30px;
    font-size: 20px;
    display: inline-block;
    border: solid 2px;
    text-decoration: none;
    color: black ;
    background-color: white;
}

