body {
  background: linear-gradient(rgb(0, 12, 70), rgb(4, 13, 141));
  background-attachment: fixed;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.box {
  margin: 50px auto;
  height: auto;
  width: 200px;
  text-align: center;
  border: 2px solid white;
  background-image: linear-gradient(
    to right,
    rgb(23, 24, 23),
    rgb(158, 158, 157)
  );
}

.box h1 {
  color: rgb(75, 60, 60);
  font-family: tahoma, sans-serif;
}
.box p {
  background-color: white;
  text-align: justify;
  padding: 0 20px;
  font-family: "Dancing Script", cursive;
  color: rgb(42, 41, 41);
  font-size: 0px;
  transition: font-size 2s;
}

.box:hover {
  p {
    font-size: 15px;
    padding: 10px 20px;
  }
}
