body {
  background: linear-gradient(rgb(0, 12, 70), rgb(4, 13, 141));
  background-attachment: fixed;
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* .container{
    height: 550px;
    width: 200px;
    background-color: aliceblue;
    margin:50px auto;
    display: none;
} */

.box {
  margin: 50px auto;
  height: auto;
  width: 200px;
  /* background-image: linear-gradient(to right,green,yellow); */
  text-align: center;
  border: 2px solid white;
  background-color: white;
  transition:all  2s;
  
}
.background {
  background-image: linear-gradient(to right, green, yellow);
}
.code p {
  position: relative;
  bottom: 12px;
  color: rgb(75, 60, 60);
  font-family: tahoma, sans-serif;
}
.paragragh {
  background-color: rgb(253, 253, 253);
  text-align: justify;
  padding: 20px;
  height: auto;
  display: none;
  position: relative;
  bottom: 3px;
  border: 2px solid rgb(252, 244, 244);
  font-family: "Permanent Marker", cursive;
  color: rgb(42, 41, 41);
  font-size: 12px;
}

.box:hover {
  position: relative;
  bottom: 13px;
  .paragragh {
    display: block;
  }
}
