* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  height: 600px;
}

.flex-container-violet {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.item-violet {
  padding-top: 7px;
  text-align: center;
  width: 98%;
  height: 198px;
  background-color: rgb(153, 51, 204);
  margin: 6px 0px 5px 3px;
}

.flex-container-blue {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  background-color: black;
}
.item-blue {
  padding-top: 20px;
  text-align: center;
  width: 97%;
  height: 185px;
  background-color: rgb(0, 140, 140);
  margin: 6px 0px 5px 3px;
}

.container-right {
  width: 60%;
  height: 600px;
  background-color: rgb(255, 255, 255);
}

.flex-container-box1 {
  height: 50%;
  display: flex;
  flex-direction: row;
}

.flexitem-box1 {
  width: 100px;
  height: 97%;
  background-color: rgb(168, 168, 168);
  margin: 5px;
  text-align: center;
  padding: 10px;
  color: white;
}
.flex-container-box2 {
  height: 50%;
  display: flex;
  flex-direction: row-reverse;
}
.flexitem-box2 {
  width: 100px;
  height: 97%;
  background-color: rgb(0, 140, 140);
  margin: 5px;
  text-align: center;
  padding: 10px;
  color: white;
}
