*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-image: linear-gradient(#D73E2F,#0361F7);
  background-attachment: fixed;

}


.box{
      width: 700px;
      height: 900px;
      background-color: #26202F;
      margin: 20px auto 20px auto;
      border-radius: 15px;
      padding: 40PX;
}
.box p{
    color: white;
    border-bottom: 2PX solid white;
    padding-bottom: 30px;
    text-align: justify;
    line-height: 25px;
    font-size: 10px;
}
a{
    color: yellow;
    text-decoration: none;
}
ul{
    margin: 50px;
    
}
.part1 h1{
    text-align: center;
    padding: 20px;
    color: #181E74;
    text-shadow:2px 2px 5px  white; 
}
.part1 span{
    text-decoration: underline solid 2px blue;
}

.part2 h1{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    text-shadow:2px 2px 15px  rgb(238, 7, 7);
}

.part2 p{
    text-indent: 10px;
    color: yellow;
    font-size: 12px;
    border-bottom: 2PX solid rgb(12, 12, 12);

}
.part2 span{
    text-decoration: underline 2px wavy red;
}