* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  margin: 10px;
  height: 400px;
  width: 80%;
  margin: auto;
}
.header {
  position: absolute;
  top: 30px;
  left: 350px;
}

.month {
  height: 130px;
  width: 100%;
  background-color: darkblue;
  position: relative;
  top: 80px;
  color: white;
  padding-top: 40px;
}
.month #left {
  position: absolute;
  top: 50px;
  left: 10px;
}

.month #right {
  position: absolute;
  right: 10px;
  bottom: 50px;
}
.month .text {
  text-align: center;
}

.box {
  height: 200px;
  width: 100%;
  background-color: lightgray;
  position: relative;
  top: 80px;
}
.day-of-week {
  height: 50px;
  padding-top: 15px;
  background-color: darkgray;
}
.day-of-week ul li {
  width: 14.28%;
  float: left;
  text-align: center;
  list-style-type: none;
}
.date-of-day ul li {
  float: left;
  list-style-type: none;

  width: 14.28%;
  text-align: center;
  padding: 5px;
}

.date-of-day #ten a {
  display: inline-block;
  background: #0611d8;
  color: white;
  text-decoration: none;
}
