* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(14, 194, 226), rgb(170, 74, 89));
  height: 100%;
}

.box1 {
  height: 250px;
  width: 900px;
  border: 2px solid white;
  margin: 30px auto;
}
.box1-part1 {
  height: 50px;
  width: 800px;
  border: 2px solid white;
  background-image: url(../images/sea.jpg);
  background-size: cover;
}
.box1-part2 {
  height: 50px;
  width: 400px;
  border: 2px solid white;
  margin: 20px auto;
  background-image: url(../images/sea.jpg);
  background-size: cover;
}
.box1-part3 {
  height: 100px;
  width: 770px;
  border: 2px solid white;
  margin-left: 30px;
  background-image: url(../images/sea.jpg);
  background-size: cover;
}
.box2 {
  height: 250px;
  width: 900px;
  border: 2px solid white;
  margin: 30px auto;
  padding-top: 40px;
}

.box2 .box2-part1 {
  height: 120px;
  width: 250px;
  border: 2px solid white;
  display: inline-block;
  background-image: url(../images/boat.jpg);
}
.box2 .box2-part2 {
  height: 200px;
  width: 300px;
  border: 2px solid white;

  display: inline-block;
  background-image: url(../images/boat.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.box2 .box2-part3 {
  height: 150px;
  width: 325px;
  border: 2px solid white;
  display: inline-block;
  background-image: url(../images/boat.jpg);
}
.box3 {
  height: 200px;
  width: 900px;
  border: 2px solid white;
  margin: 30px auto;
}
.box3 .box3-part1 {
    height:190px;
    width: 250px;
    border: 2px solid white;
 margin: auto;
    background-image: url(../images/cat.jpg);
    background-size: cover;
  }
  .box3 .box3-part1:hover{
    background-image: url(../images/dog.jpg);

  }