* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(rgb(14, 194, 226), rgb(170, 74, 89));
  height: 100%;
}

.box1 {
  height: 250px;
  width: 900px;
  border: 2px solid white;
  margin: 30px auto;
}
.box1-part1 {
  height: 80px;
  width: 800px;
  /* border: 2px solid white; */
  background-image: url(../images/sea.jpg);
  background-size: cover;
  background-position:left center;
  background-attachment: fixed;
}
.box1-part2 {
  height: 30px;
  width: 450px;
  /* border: 2px solid white; */
  margin: 5px auto;
  background-image: url(../images/sea.jpg);
  background-size: cover;
}
.box1-part3 {
  height: 100px;
  width: 750px;
  /* border: 2px solid white; */
  margin-left: 30px;
  background-image: url(../images/sea.jpg);
  background-size: cover;
  background-position: center left;
  background-attachment: fixed;
}
.box2 {
  height: 260px;
  width: 900px;
  border: 2px solid white;
  margin: 30px auto;
 
}

.box2 .box2-part1 {
  height: 120px;
  width: 185px;
  border: 2px solid white;
  display: inline-block;
  background-image: url(../images/boat.jpg);
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}
.box2 .box2-part2 {
  height: 250px;
  width: 450px;
  border: 2px solid white;

  display: inline-block;
  background-image: url(../images/boat.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.box2 .box2-part3 {
  height: 220px;
  width: 250px;
  border: 2px solid white;
  display: inline-block;
  background-image: url(../images/boat.jpg);
  background-position: left top;
  background-size: cover;
  background-attachment: fixed;
}
.box3 {
  height: 230px;
  width: 900px;
  border: 2px solid white;
  margin:30px auto ;
}
.box3 .box3-part1 {
    height:200px;
    width: 200px;
    border: 2px solid white;
    border-radius: 10px;
    margin:30px auto 0 auto;

    background-image: url(../images/cat.jpg);
    background-size: cover;
    color: white
    ;
    text-align: center;
    padding-top: 50px;
    background-position: center;
  p{
    display: none;
  }
  }
  .box3 .box3-part1:hover{
    background-image: url(../images/dog.jpg);
p{
  display:block;
  color: red;
  font-size: 20px;

}
h1{
  display: none;
}
  }
 