* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.box {
  height: 100%;
  width: 100%;
}
.nav {
  width: 12%;
  height: 100%;
  background-color: rgb(106, 104, 104);
}

ul {
  list-style-type: none;
  position: relative;
  top: 10px;
  left: 5px;
}
ul li {
  padding: 3px;
}
ul li a {
  text-decoration: none;
  color: white;
}
.text-box {
  width: 85%;
  height: 100%;
  background-color: white;
  text-align: center;
  float: right;
  padding: 20px;
}
.text {
  text-align: justify;
}
.title {
  padding: 10px;
}
