*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to left ,rgb(37, 33, 33) , rgb(202, 196, 196));
    height: 100vh;
    background-repeat: no-repeat;

}

.box span{
font-size: 200px;
}
.box{
    height: 300px;
    width: 250px;
    margin:50px auto;
    border: 2px solid white;
    text-align: justify;
    padding: 20px;
}
.box  h1{
    text-align: center;
    color: aqua;
    font-family: 'Dancing Script', cursive;
}

.box p{
    font-size: 0;
  
   
}

.box:hover{
    background:linear-gradient(to left ,blue,rgb(0, 255, 221));
     h1{
    padding-bottom: 350px;
    color: black;

}
   span{
    /* display: none; */
    font-size: 0;
}

p{
    font-size: 15px;
    transition:  font-size 2s;
position: relative;
bottom: 320px;
color: white;
}

}
 
