* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  overflow: auto;
}
.box-lion {
  background: url(../images/lion.jpg);
  position: relative;
  height: 100vh;
  background-attachment: fixed;
  background-size: cover;
}
ul {
  list-style-type: none;
}
.menu {
  background-color: lightgray;
  height: 6%;
}
.box-lion ul li {
  float: left;
  padding: 10px;
}

.box-lion .help a {
  position: absolute;
  right: 0;
  height: 6%;
  width: 5%;
  background-color: rgb(56, 155, 194);
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
  color: white;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li:hover {
  background-color: black;

  a {
    color: white;
  }
}

.topleft {
  position: absolute;
  top: 8%;
  left: 1%;
  color: white;
}
.topright {
  position: absolute;
  top: 8%;
  right: 1%;
  color: white;
}

.centerd {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
  color: aqua;
}

.bottomleft {
  position: absolute;
  bottom: 0;
  left: 1%;
  color: white;
}
.bottomright {
  position: absolute;
  bottom: 0;
  right: 1%;
  color: white;
}

.box-cat {
  background-image: url(../images/cat.jpg);
  height: 100vh;
  background-size: cover;
  position: relative;
}

.title {
  background-color: rgb(77, 72, 72);
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;

}

.bottomright-box {
  height: 20%;
  width: 20%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: black;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}
.bottomright-box h1 {
  color: aqua;
}
.bottomright-box p {
  color: rgb(255, 255, 255);
}
