*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    text-align: center;
   
}
.box1{
    height: 250px;
    width: 300px;
    margin: 50px auto 10px auto;
    
    box-shadow: 2px 3px 3px 0 #bba7a7;
}
.box2{
    height: 250px;
    width: 300px;
    margin:  auto;
    box-shadow: 1px 11px 19px 20px #f1e7e7 inset;
}
.heading h1{
    padding-top: 18px;
    padding-bottom: 10px;
}
.paragragh p{
    padding: 20px;
}