*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.title {
    text-align: center;
}
.month{
    height: 150px;
    width: 499px ;
    margin: auto;
    background-color: darkblue;
    color: white;
}

#left{
    float: left;
    padding-top: 50px;
}

#right{
    float: right;
    padding-top: 50px;
}

.month .text{
    display: inline-block;
 
   padding-top: 50px;
   padding-left: 150px;
   text-align: center;
}

 table{
    margin: auto;
    border-collapse: collapse;
    background-color: silver;
}

table tr th{

    height: 35px;
    width: 71px;
    background-color: darkgray;
    font-weight: normal;
  
  
}


table tr td{
    padding: 5px 15px;

}
#highlight{
    background-color: rgb(5, 5, 85);
    color: white;

  
}