*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.ul-main{
        margin: 10px auto;

width: 95%;
height: 50px;
background-color:black;
list-style-type: none;

}

.ul-main li {
    float: left;
    padding: 15px;

}
.ul-main li a{
    text-decoration: none;
    color: white;

}

.ul-main ul{
  
    width: 100px;
    display: none;
  list-style-type: none;

}
.ul-main li:hover ul{
  

    display: block;
 

}

.ul-main li:hover{
  
   background-color: rgb(9, 97, 97);
  height:50px ;
}
.ul-main ul li {
    background-color: rgb(247, 243, 243);
    width: 120px;
    height: 35px;
    box-shadow: 1px 7px 7px 0px #837d7d;
    position: relative;
    top: 16px;

}
.ul-main ul li a{

    color: rgb(16, 13, 13);
    text-decoration: none;


}

.dropup  li a{
    display: inline-block;
 height: 60px;
 width:80px;
 background-color: cadetblue;
 color: white;
 text-decoration: none;
 padding: 18px 15px;
 position: relative;
 top: 100px;
 left: 20px;
}

.dropup #ul-inside li a{
    width: 150px;
    background-color: aliceblue;
    box-shadow: 1px 7px 7px 0px #837d7d;
    color: black;
    height: 50px;
  display: none;
}
.dropup #ul-inside li {
    position: relative;
    bottom: 200px;
 
}


.dropup:hover #ul-inside li a{
  display: block;
}