*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#08060B,#8A69C7);
    background-attachment: fixed;

}
.header{
    color: white;
    text-align: center;
    margin: 5%;
}
p{
    margin-top: 10px;
}

.box{
   background-image: url(../image/SteveJobs.jpg);
    color: #14A4BE;
    text-align: center;
    height: 200px;
    width: 90%;
    background-size: 500px 500px;
    background-position: center;
    background-repeat: repeat-x ;
    margin: auto;
}

.box p{
    padding-top:  8%;
    font-size:  xx-large;
}
.paragragh{
    color: white;
    height: 100%;
    width:50%;
    text-align: left;
    margin-top: 20px;
    margin:auto ;
    font-size: large;
}
.paragragh h1{
    margin:3% auto;
}
  