* {
  box-sizing: border-box;
}
body {
  counter-reset: section;
}
h2::before {
  counter-increment: section;
  content: counter(section, decimal-leading-zero) ": ";
}
.container {
  counter-reset: header;
}

h3::after {
  counter-increment: header;
  content: " part : " counter(header);
}
