* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(231deg, rgb(74, 5, 88), rgb(138, 201, 206));
  height: 100vh;
}

.container {
  padding-top: 50px;
}
table,
td,
th {
  color: white;
}
table {
  margin: 0px auto;
  /* border: 1px solid #4c5666; */
  box-shadow: -1px 0px 9px 1px gray;
  
}
th {
  background-color: cadetblue;
  border-spacing: 2px;
}
tr {
  /* background-color: rgb(33, 39, 124); */
  border-spacing: 2px;
}
th,
td {
  padding: 10px;
  /* background-color: rgb(33, 39, 124); */

}
td:hover {
  background: linear-gradient(rgb(124, 178, 248), rgb(140, 56, 209));
}
caption{
  visibility: hidden;
  transition-duration: 2s;
}
.container:hover caption  {
  visibility: initial;
}

 td{
  background-color: rgb(146, 78, 129);
  visibility: collapse;
  transition-delay: 1s;
}

.container:hover td{
  visibility: visible;
}
 table th{
  visibility: initial;
  

}

table{
  visibility: hidden;
  transition-duration: 2s;
}
.container:hover table{
  visibility: visible;
}