* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.conatiner {
  background-image: url(../image/background.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.box {
  width: 220px;
  height: 380px;
  border-left: white 2px solid;
  border-right: white 2px solid;
  border-radius: 15px;
  background-color: #595959;
  margin: auto;
  padding: 0 15px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.shape-container {
  height: 30%;
}
.ellips {
  width: 150px;
  height: 40px;
  background: rgb(0, 0, 8);
  border-radius: 0 0 25px 25px;
  margin: auto;
}

.circle {
  width: 100px;
  height: 100px;
  background: rgb(0, 0, 8);
  border-radius: 0 0 50% 50%;
  margin: auto;
}
.circle i:first-child {
  position: relative;
  left: 25px;
  top: 7px;
  color: white;
  font-size: 45px;
}

.text {
  height: 70%;
}

.text:first-of-type {
  text-align: center;
  padding: 20px;
}

p:first-child {
  text-align: justify;
  color: white;
}
