*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100px;
    border: 2px solid gray;
    display: flex;

}

.item1{

    flex: 2 1 100px;
    background-color: blue;
    height: 100px;
}
.item2{
    flex: 1 2 100px;
    background-color: red;
    height: 100px;
}